{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <section id="blog-articles">
        <h1>{{ BLOGNAME }}</h1>

        <article class="blog-article">
            <header>
                <p class="post-date">{{ article.date | strftime(article.date_format) }}</p>
                <h2 class="entry-title">
                    <a href="/{{ article.url }}">{{ self.title() }}</a>
                </h2>
            </header>
            <div class="post-contents">
                {{ article.summary }}
                {{ article.content }}
            </div>
        </article>
        <div id="footer-separator">
        </div>
    </section>
{% endblock %}
