{% extends "base.html" %}

{% set donations_title = 'Webcamoid donations' %}
{% block title %}{{donations_title}}{% endblock %}

{% block content %}
    <section id="blog-articles">
        <h1>{{donations_title}}</h1>

        <article class="blog-article">
            <p>
                If you enjoyed and value all the effort put on developing Webcamoid, you have many options available to donate to the project. Any donation amount is welcome and very appreciated.
            </p>
            <h2 id="fiat">Fiat currencies</h2>
            <ul>
                <li>
                    <a target="_blank" href="https://www.patreon.com/hipersayanx">
                        Patreon
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://ko-fi.com/hipersayanx">
                        Ko-fi
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://liberapay.com/hipersayanx">
                        Liberapay
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.paypal.me/WebcamoidDonations">
                        Paypal
                    </a>
                </li>
            </ul>
            <h2 id="crypto">Crypto currencies</h2>
            <table>
                <thead>
                    <tr><th>Crypto</th><th>Address</th><th>QR</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bitcoin (BTC)</td>
                        <td>
                            <input type="text" id="btc" value="bc1q43ygwnfjq5e4k35x9kedqhe57p97v985p5mhke" onclick="copyToClipBoard('btc')" readonly>
                            <button onclick="copyToClipBoard('btc')">Copy</button>
                        </td>
                        <td>
                            <a target="_blank" href="/theme/images/donations-qr/qr-btc.png">
                                <img class="donation-qr-preview" alt="BTC" src="/theme/images/donations-qr/qr-btc.png" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Ethereum (ETH)</td>
                        <td>
                            <input type="text" id="eth" value="0x9947DdA0CF72957894f81eE96d41689107EDdcb0" onclick="copyToClipBoard('eth')" readonly>
                            <button onclick="copyToClipBoard('eth')">Copy</button>
                        </td>
                        <td>
                            <a target="_blank" href="/theme/images/donations-qr/qr-eth.png">
                                <img class="donation-qr-preview" alt="ETH" src="/theme/images/donations-qr/qr-eth.png" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Litecoin (LTC)</td>
                        <td>
                            <input type="text" id="ltc" value="ltc1q5jkcvgsugt0avs524h8lgrezdf2fglx6g54jss" onclick="copyToClipBoard('ltc')" readonly>
                            <button onclick="copyToClipBoard('ltc')">Copy</button>
                        </td>
                        <td>
                            <a target="_blank" href="/theme/images/donations-qr/qr-ltc.png">
                                <img class="donation-qr-preview" alt="LTC" src="/theme/images/donations-qr/qr-ltc.png" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Monero (XMR)</td>
                        <td>
                            <input type="text" id="xmr" value="84c1pxoa4gffwpafydFULF7EunuswEn3wjCeqUiSWda4W7HaAmSLeibK8AYzvZYLfx12gWLm8PNWDJwQ7nr4o6ZCFzbJat4" onclick="copyToClipBoard('xmr')" readonly>
                            <button onclick="copyToClipBoard('xmr')">Copy</button>
                        </td>
                        <td>
                            <a target="_blank" href="/theme/images/donations-qr/qr-xmr.png">
                                <img class="donation-qr-preview" alt="XMR" src="/theme/images/donations-qr/qr-xmr.png" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Zcash (ZEC)</td>
                        <td>
                            <input type="text" id="zec" value="zs1ljvjxjs3l0lym6px0pp5a5yn5cha7nqq6ru7ycw88hmqx9q4fzsxgyu7mav47ycva6ldgr96xd8" onclick="copyToClipBoard('zec')" readonly>
                            <button onclick="copyToClipBoard('zec')">Copy</button>
                        </td>
                        <td>
                            <a target="_blank" href="/theme/images/donations-qr/qr-zec.png">
                                <img class="donation-qr-preview" alt="ZEC" src="/theme/images/donations-qr/qr-zec.png" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Dogecoin (DOGE)</td>
                        <td>
                            <input type="text" id="doge" value="DFMKJmkQWpDKCyQ9NmjF5vEr2csDSE5Md4" onclick="copyToClipBoard('doge')" readonly>
                            <button onclick="copyToClipBoard('doge')">Copy</button>
                        </td>
                        <td>
                            <a target="_blank" href="/theme/images/donations-qr/qr-doge.png">
                                <img class="donation-qr-preview" alt="DOGE" src="/theme/images/donations-qr/qr-doge.png" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Cardano (ADA)</td>
                        <td>
                            <input type="text" id="ada" value="addr1qxfk2mhcxjuhww8772msqw2ysp75u36sugf8cz508d0cm5g8337x8gaspygwxgzu6g80cxkpy8m87yqfa59w2t6v4qhq4x4xct" onclick="copyToClipBoard('ada')" readonly>
                            <button onclick="copyToClipBoard('ada')">Copy</button>
                        </td>
                        <td>
                            <a target="_blank" href="/theme/images/donations-qr/qr-ada.png">
                                <img class="donation-qr-preview" alt="ADA" src="/theme/images/donations-qr/qr-ada.png" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Bitcoin Cash (BCH)</td>
                        <td>
                            <input type="text" id="bch" value="qqltf5rgzqxhx49mp0enh88pq5zx5tnuec72vkfj49" onclick="copyToClipBoard('bch')" readonly>
                            <button onclick="copyToClipBoard('bch')">Copy</button>
                        </td>
                        <td>
                            <a target="_blank" href="/theme/images/donations-qr/qr-bch.png">
                                <img class="donation-qr-preview" alt="BCH" src="/theme/images/donations-qr/qr-bch.png" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Polkadot (DOT)</td>
                        <td>
                            <input type="text" id="dot" value="12NJ3wAoPCZRLxscViAiWfu5WwT3iTbcLHNjuRWD9kvHcysh" onclick="copyToClipBoard('dot')" readonly>
                            <button onclick="copyToClipBoard('dot')">Copy</button>
                        </td>
                        <td>
                            <a target="_blank" href="/theme/images/donations-qr/qr-dot.png">
                                <img class="donation-qr-preview" alt="DOT" src="/theme/images/donations-qr/qr-dot.png" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Peercoin (PPC)</td>
                        <td>
                            <input type="text" id="ppc" value="PWkgXy9BcbUNisKpL4pmgHHnwKE3QwkVj3" onclick="copyToClipBoard('ppc')" readonly>
                            <button onclick="copyToClipBoard('ppc')">Copy</button>
                        </td>
                        <td>
                            <a target="_blank" href="/theme/images/donations-qr/qr-ppc.png">
                                <img class="donation-qr-preview" alt="PPC" src="/theme/images/donations-qr/qr-ppc.png" />
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr><th>Crypto</th><th>Address</th><th>QR</th></tr>
                </tfoot>
            </table>
        </article>
    </section>
{% endblock %}
