{% extends "base.html" %}

{% block header %}
    <meta name="description"
          content="Webcamoid is a camera capture app focused on providing all major features required by power users with a very simple and intuitive interface">
    <link rel="canonical" href="https://webcamoid.github.io/">
    <link rel="canonical" href="https://webcamoid.github.io/index.html#downloads">
    <link rel="canonical" href="https://webcamoid.github.io/blog/">
{% endblock %}

{% block content %}
    <section id="start-page">
        <div id="showcase">
            <div id="preview">
                <h1>Screenshots</h1>
                <img class="screenshot screenshot-selected"
                     src="/{{ THEME_STATIC_DIR }}/images/screenshots/Main.webp"
                     alt="A simple and easy to use interface"
                     title="A simple and easy to use interface" />
                <img class="screenshot"
                     src="/{{ THEME_STATIC_DIR }}/images/screenshots/Recording.webp"
                     alt="Easy to record videos"
                     title="Easy to record videos" />
                <img class="screenshot"
                     src="/{{ THEME_STATIC_DIR }}/images/screenshots/Effects.webp"
                     alt="More than 60 customizable video effects"
                     title="More than 60 customizable video effects" />
                <img class="screenshot"
                     src="/{{ THEME_STATIC_DIR }}/images/screenshots/DesktopCapture.webp"
                     alt="Screen capture is also supported"
                     title="Screen capture is also supported" />
                <img class="screenshot"
                     src="/{{ THEME_STATIC_DIR }}/images/screenshots/VirtualCamera.webp"
                     alt="Virtual camera is also supported"
                     title="Virtual camera is also supported" />
            </div>
            <div id="features">
                <h1>Features</h1>
                <ul id="feature-list" class="nolist">
                    <li class="feature-item">Simple and intuitive</li>
                    <li class="feature-item">Take pictures and record videos</li>
                    <li class="feature-item">Apply funny effects</li>
                    <li class="feature-item">Capture from screen</li>
                    <li class="feature-item">Create virtual cameras</li>
                </ul>
            </div>
            <div id="slides-controls-wrapper">
                <div id="slides-controls">
                    <div class="slides-control slides-control-selected"></div>
                    <div class="slides-control"></div>
                    <div class="slides-control"></div>
                    <div class="slides-control"></div>
                    <div class="slides-control"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="description">
        <p>
            Webcamoid is a multi-platform camera capture app focused on providing all major features required by power users with a very simple and intuitive interface.
        </p>
        <h1>Features</h1>
        <p>
            <ul>
                <li>Cross-platform (GNU/Linux, Mac, Windows, Android and FreeBSD)</li>
                <li>Take pictures and record videos with your camera.</li>
                <li>Add funny video effects.</li>
                <li>Translated to many languages.</li>
                <li>Use pictures and videos as sources.</li>
                <li>Screen capture support.</li>
                <li>Many video recording formats.</li>
                <li>Virtual camera support for feeding other programs (GNU/Linux, Mac, Windows)</li>
            </ul>
        </p>
    </section>
    <section id="downloads">
        <article class="downloads-container">
            <header class="downloads-title">
                <h1>Downloads</h1>
            </header>
            <div class="download-option-container">
                <nav class="download-option">
                    <h2 id="downloads-binaries">Pre-compiled packages</h2>
                    <p>
                        Download the pre-compiled packages for GNU/Linux, Windows, and Android.<br/>
                        If you are a Mac user, consider <a target="_blank" href="/donations">making a donation</a> for buying the needed development hardware and also supporting your platform.<br/>
                    </p>
                    <p>
                        <a target="_blank" href="https://payhip.com/Webcamoid">
                            <img src="/{{ THEME_STATIC_DIR }}/images/DownloadButtons/BinaryPackagesButton.png"
                                 alt="Webcamoid pre-compiled packages"
                                 title="Download the binary packages" />
                        </a>
                    </p>
                </nav>
                <nav class="download-option">
                    <h2 id="downloads-daily">Daily Builds</h2>
                    <p>
                        Become a <a target="_blank" href="https://github.com/sponsors/hipersayanX">Webcamoid sponsor</a> and get early access to the latest features.<br/>
                    </p>
                    <p>
                        <a target="_blank" href="https://github.com/sponsors/hipersayanX">
                            <img src="/{{ THEME_STATIC_DIR }}/images/DownloadButtons/DailyBuildButton.png"
                                 alt="Daily Build packages"
                                 title="Become a sponsor and download the Daily Build packages" />
                        </a>
                    </p>
                </nav>
                <nav class="download-option">
                    <h2 id="downloads-gnu-linux-vcam">Virtual camera driver for GNU/Linux</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>akvcam</th><th>v4l2loopback</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a target="_blank" href="https://github.com/webcamoid/akvcam">Download</a></td>
                                <td><a target="_blank" href="https://github.com/umlaeute/v4l2loopback">Download</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        <strong>akvcam</strong> driver requires linux 4.14 or higher.
                    </p>
                </nav>
                <nav class="download-option">
                    <h2 id="downloads-windows-vcam">Virtual Camera driver for Windows</h2>
                    <p>
                        <a target="_blank" href="https://github.com/webcamoid/akvirtualcamera">AkVirtualCamera driver download</a>
                    </p>
                </nav>
                <nav class="download-option">
                    <h2 id="downloads-sources">Source Code</h2>
                    <p>
                        Download the Webcamoid source code.
                    </p>
                    <p>
                        <a target="_blank" href="https://github.com/webcamoid/webcamoid">
                            <img src="/{{ THEME_STATIC_DIR }}/images/DownloadButtons/SourceCodeButton.png"
                                 alt="Source Code"
                                 title="Download the Webcamoid source code" />
                        </a>
                    </p>
                </nav>
            </div>
        </article>
    </section>
{% endblock %}
