{% extends "base.html" %}

{% block header %}
    <meta name="description" content="Webcamoid is a webcam app focused on providing all major features required by power users with a very simple and intuitive interface">
    <link rel="canonical" href="http://webcamoid.github.io/">
    <link rel="canonical" href="http://webcamoid.github.io/index.html#downloads">
{% endblock %}

{% block content %}
    <section id="start-page">
        <div id="showcase">
            <div id="preview">
                <h1>Screenshots</h1>
                <img class="screenshot screenshot-selected" src="/{{ THEME_STATIC_DIR }}/images/screenshots/cap01.png" alt="Device selection showing the available webcam controls" title="Device selection showing the available webcam controls" />
                <img class="screenshot" src="/{{ THEME_STATIC_DIR }}/images/screenshots/cap02.png" alt="Webcamoid supports many popular video formats and codecs" title="Webcamoid supports many popular video formats and codecs" />
                <img class="screenshot" src="/{{ THEME_STATIC_DIR }}/images/screenshots/cap03.png" alt="More than 60 customizable video effects" title="More than 60 customizable video effects" />
                <img class="screenshot" src="/{{ THEME_STATIC_DIR }}/images/screenshots/cap04.png" alt="You can record and take pictures of your desktop session" title="You can record and take pictures of your desktop session" />
                <img class="screenshot" src="/{{ THEME_STATIC_DIR }}/images/screenshots/cap05.png" alt="Share your webcam with other programs" title="Share your webcam with other programs" />
            </div>
            <div id="features">
                <h1>Features</h1>
                <ul id="feature-list" class="nolist">
                    <li class="feature-item">Simple and intuitive</li>
                    <li class="feature-item">Take pictures and record videos</li>
                    <li class="feature-item">Apply funny effects</li>
                    <li class="feature-item">Capture from desktop</li>
                    <li class="feature-item">Create a virtual webcam</li>
                </ul>
            </div>
            <div id="slides-controls-wrapper">
                <div id="slides-controls">
                    <div class="slides-control slides-control-selected"></div>
                    <div class="slides-control"></div>
                    <div class="slides-control"></div>
                    <div class="slides-control"></div>
                    <div class="slides-control"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="downloads">
        <article class="downloads-container">
            <header class="downloads-title">
                <h1>Downloads</h1>
            </header>
            <div class="download-option-container">
                <nav class="download-option">
                    <h2>GNU/Linux</h2>
                    <ul class="nolist">
                        <li>
                            <h3>Arch</h3>
                            <p>
                                Install <a target="_blank" href="https://aur.archlinux.org/packages/webcamoid">webcamoid</a> package from AUR.
                            </p>
                            <h3>Debian</h3>
                            <p>
                                Webcamoid is available in the <b>main</b> repository of Debian, for branches <b>testing and higher</b>. Install Webcamoid as:
                            </p>
                            <pre>sudo apt-get install webcamoid</pre>
                            <h3>Fedora</h3>
                            <p>
                                Fedora is supported since <b>Fedora 23</b> from OBS. First add the repository:
                            </p>
                            <pre>yum-config-manager --add-repo http://download.opensuse.org/repositories/home:/hipersayan_x/Fedora_23/home:hipersayan_x.repo</pre>
                            <p>
                                Then install Webcamoid as:
                            </p>
                            <pre>yum install webcamoid akqml avkys-plugins</pre>
                            <h3>openSUSE</h3>
                            <p>
                                Add the following repository repending on your version:
                            </p>
                            <h4>Leap</h4>
                            <pre>zypper ar -f http://download.opensuse.org/repositories/home:/hipersayan_x/openSUSE_Leap_42.1/ webcamoid</pre>
                            <h4>Factory</h4>
                            <pre>zypper ar -f http://download.opensuse.org/repositories/home:/hipersayan_x/openSUSE_Factory/ webcamoid</pre>
                            <h4>Tumbleweed</h4>
                            <pre>zypper ar -f http://download.opensuse.org/repositories/home:/hipersayan_x/openSUSE_Tumbleweed/ webcamoid</pre>
                            <p>
                                Then install Webcamoid as:
                            <p>
                            <pre>zypper install webcamoid akqml avkys-plugins</pre>
                            <h3>Ubuntu</h3>
                            <p>
                                Webcamoid is available in the <b>universe</b> repository of Ubuntu, for branches <b>xenial</b> (16.04) and higher. Install Webcamoid as:
                            </p>
                            <pre>sudo apt-get install webcamoid</pre>
                        </li>
                    </ul>
                </nav>
                <nav class="download-option">
                    <h2>Windows</h2>
                    <ul class="nolist">
                        <li>
                            <a target="_blank" href="https://github.com/webcamoid/webcamoid/releases/download/7.2.1/webcamoid-7.2.1-win32.exe">
                                Webcamoid 7.2.1 32 bits (Installable)
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/webcamoid/webcamoid/releases/download/7.2.1/webcamoid-7.2.1-win64.exe">
                                Webcamoid 7.2.1 64 bits (Installable)
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/webcamoid/webcamoid/releases/download/7.2.1/webcamoid-portable-7.2.1-win32.zip">
                                Webcamoid 7.2.1 32 bits (Portable)
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/webcamoid/webcamoid/releases/download/7.2.1/webcamoid-portable-7.2.1-win64.zip">
                                Webcamoid 7.2.1 64 bits (Portable)
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="download-option">
                    <h2>Source Code</h2>
                    <ul class="nolist">
                        <li>
                            <a target="_blank" href="https://github.com/webcamoid/webcamoid">
                                View on GitHub
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/webcamoid/webcamoid/zipball/7.2.1">
                                webcamoid-7.2.1.zip
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/webcamoid/webcamoid/tarball/7.2.1">
                                webcamoid-7.2.1.tar.gz
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </article>
    </section>
    <section id="share-it">
        <article class="share-container">
            <header class="share-title">
                <h1>Share it!</h1>
            </header>
            <!-- Sharing buttons code copyied from https://simplesharingbuttons.com/ -->
            <ul class="nolist share-buttons">
                <li>
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwebcamoid.github.io%2F&amp;t=The%20ultimate%20webcam%20suite!" title="Share on Facebook" target="_blank">
                        <img src="/{{ THEME_STATIC_DIR }}/images/icons/social_flat_rounded_rects_svg/Facebook.svg" alt="Share on Facebook">
                    </a>
                </li>
                <li>
                    <!-- Twitter -->
                    <a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fwebcamoid.github.io%2F&amp;text=The%20ultimate%20webcam%20suite!:%20https%3A%2F%2Fwebcamoid.github.io%2F" target="_blank" title="Tweet">
                        <img src="/{{ THEME_STATIC_DIR }}/images/icons/social_flat_rounded_rects_svg/Twitter.svg" alt="Tweet">
                    </a>
                </li>
                <li>
                    <!-- Google+ -->
                    <a href="https://plus.google.com/share?url=https%3A%2F%2Fwebcamoid.github.io%2F" target="_blank" title="Share on Google+">
                        <img src="/{{ THEME_STATIC_DIR }}/images/icons/social_flat_rounded_rects_svg/Google+.svg" alt="Share on Google+">
                    </a>
                </li>
                <li>
                    <!-- Reddit -->
                    <a href="http://www.reddit.com/submit?url=https%3A%2F%2Fwebcamoid.github.io%2F&amp;title=The%20ultimate%20webcam%20suite!" target="_blank" title="Submit to Reddit">
                        <img src="/{{ THEME_STATIC_DIR }}/images/icons/social_flat_rounded_rects_svg/Reddit.svg" alt="Submit to Reddit">
                    </a>
                </li>
                <li>
                    <!-- Tumblr -->
                    <a href="http://www.tumblr.com/share?v=3&amp;u=https%3A%2F%2Fwebcamoid.github.io%2F&amp;t=The%20ultimate%20webcam%20suite!&amp;s=" target="_blank" title="Post to Tumblr">
                        <img src="/{{ THEME_STATIC_DIR }}/images/icons/social_flat_rounded_rects_svg/Tumblr.svg" alt="Post to Tumblr">
                    </a>
                </li>
                <li>
                    <!-- Pinterest -->
                    <a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fwebcamoid.github.io%2F&amp;media=https://webcamoid.github.io/{{ THEME_STATIC_DIR }}/images/screenshots/cap01.png&amp;description=Webcamoid%20is%20a%20webcam%20app%20focused%20on%20providing%20all%20major%20features%20required%20by%20power%20users%20with%20a%20very%20simple%20and%20intuitive%20interface.%20It%20can%20capture%20and%20record%20video%20from%20a%20webcam%2C%20desktop%20and%20video%20files%2C%20it%20has%20a%20lot%20of%20stunning%20video%20effects%20that%20can%20be%20applied%20in%20real-time%2C%20and%20it%20also%20can%20act%20as%20virtual%20camera%20for%20feeding%20other%20webcam%20apps%2C%20ie.%20for%20doing%20a%20video%20chat.%20Try%20it!" target="_blank" title="Pin it">
                        <img src="/{{ THEME_STATIC_DIR }}/images/icons/social_flat_rounded_rects_svg/Pinterest.svg" alt="Pin it">
                    </a>
                </li>
                <li>
                    <!-- Wordpress -->
                    <a href="http://wordpress.com/press-this.php?u=https%3A%2F%2Fwebcamoid.github.io%2F&amp;t=The%20ultimate%20webcam%20suite!&amp;s=Webcamoid%20is%20a%20webcam%20app%20focused%20on%20providing%20all%20major%20features%20required%20by%20power%20users%20with%20a%20very%20simple%20and%20intuitive%20interface.%20It%20can%20capture%20and%20record%20video%20from%20a%20webcam%2C%20desktop%20and%20video%20files%2C%20it%20has%20a%20lot%20of%20stunning%20video%20effects%20that%20can%20be%20applied%20in%20real-time%2C%20and%20it%20also%20can%20act%20as%20virtual%20camera%20for%20feeding%20other%20webcam%20apps%2C%20ie.%20for%20doing%20a%20video%20chat.%20Try%20it!&amp;i=https://webcamoid.github.io/{{ THEME_STATIC_DIR }}/images/screenshots/cap01.png" target="_blank" title="Publish on WordPress">
                        <img src="/{{ THEME_STATIC_DIR }}/images/icons/social_flat_rounded_rects_svg/Wordpress.svg" alt="Publish on WordPress">
                    </a>
                </li>
                <li>
                    <!-- Email -->
                    <a href="mailto:?subject=The%20ultimate%20webcam%20suite!&amp;body=Webcamoid%20is%20a%20webcam%20app%20focused%20on%20providing%20all%20major%20features%20required%20by%20power%20users%20with%20a%20very%20simple%20and%20intuitive%20interface.%20It%20can%20capture%20and%20record%20video%20from%20a%20webcam%2C%20desktop%20and%20video%20files%2C%20it%20has%20a%20lot%20of%20stunning%20video%20effects%20that%20can%20be%20applied%20in%20real-time%2C%20and%20it%20also%20can%20act%20as%20virtual%20camera%20for%20feeding%20other%20webcam%20apps%2C%20ie.%20for%20doing%20a%20video%20chat.%20Try%20it!:%20https%3A%2F%2Fwebcamoid.github.io%2F" target="_blank" title="Email">
                        <img src="/{{ THEME_STATIC_DIR }}/images/icons/social_flat_rounded_rects_svg/Email.svg" alt="Email">
                    </a>
                </li>
            </ul>
        </article>
    </section>
{% endblock %}
