/* Fonts setup */

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local('Quicksand Light'), local('Quicksand-Light'), url('../data/fonts/Quicksand-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('../data/fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url('../data/fonts/Quicksand-Bold.ttf') format('truetype');
}

/* General elements setup */

html {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 7.5mm;
}

body {
    height: 100%;
    background: rgb(31, 15, 63);
    color: rgb(255, 255, 255);
}

a {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:link {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(255, 255, 255);
}

a:active {
    color: rgb(255, 255, 255);
}

/* Header setup */

#header-row {
    display: table-row;
}

#header-cell {
    display: table-cell;
    height: 64px;
}

#header-main {
    display: table;
    width: 100%;
    height: 64px;
    background-color: rgb(63, 31, 127);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/* Home page link */
#homepage-link {
    display: table-cell;
    width: 300px;
    height: 100%;
    vertical-align: middle;
}

#homepage-link:hover {
    background-color: rgb(85, 63, 127);
}

#webcamoid-logo {
    height: 100%;
    vertical-align: middle;
}

#project-title {
    display: inline-block;
    vertical-align: middle;
}

#project-name {
    font-size: 100%;
    font-weight: bold;
}

#project-description {
    position: relative;
    left: 16px;
    font-size: 50%;
    font-style: italic;
}

/* Menu */
#menu {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#menu-container {
    display: inline-block;
    width: 100%;
    max-width: 500px;
}

#menu-title {
    display: none;
}

#menu-links {
    display: flex;
    width: 100%;
    height: 64px;
    list-style-type: none;
    align-items: stretch;
    justify-content: space-between;
    font-size: 75%;
}

#menu-links > li {
    display: inline-block;
    height: 100%;
    width: 100%;
    flex: 0 1 auto;
}

#menu-links > li > a {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    line-height: 64px;
}

#menu-links > li > a:hover {
    background-color: rgb(255, 63, 127);
}

#menu-button {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 32px;
    height: 32px;
}

#menu-button:hover {
    background-color: rgb(255, 63, 127);
}

.menu-button-line {
    width: 75%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-left: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* Setup first page */

#start-page {
    width: 100%;
    text-align: center;
    max-height: 480px;
}

/* Screenshots and descriptions  */

#preview > h1 {
    display: none;
}

.screenshot {
    display: none;
    opacity: 0;
    max-width: 100%;
    max-height: 480px;
}

.screenshot-selected {
    display: inline;
    opacity: 1;
}

#features {
    position: relative;
    bottom: 96px;
    width: 100%;
    z-index: 1;
}

#features > h1 {
    display: none;
}

.feature-item {
    width: 100%;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 75%;
}

.feature-item:nth-child(n+2) {
    display: none;
}

#slides-controls-wrapper {
    display: inline-block;
    position: relative;
    bottom: 92px;
}

#slides-controls {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 120px;
}

.slides-control {
    width: 12px;
    height: 12px;
    border: 2px solid rgb(255, 63, 127);
    background-color: rgba(255, 63, 127, 0.5);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.slides-control:hover {
    border: 2px solid rgb(255, 127, 171);
    background-color: rgba(255, 127, 171, 0.5);
}

.slides-control-selected {
    background-color: rgb(255, 63, 127);
}

.slides-control-selected:hover {
    background-color: rgb(255, 127, 171);
}

#downloads {
    background-color: rgb(28, 28, 28);
    color: rgb(255, 255, 255);
    padding: 32px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.downloads-title {
    font-size: 75%;
    font-weight: bold;
    padding-bottom: 16px;
}

nav > h2 {
    font-size: 63%;
    padding-bottom: 16px;
}

.download-option-container {
    width: 100%;
}

.download-option {
    position: relative;
    border-left: 5px solid rgb(127, 63, 255);
    margin-left: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
}

.download-option:hover {
    border-left: 5px solid rgb(170, 127, 255);
    background: rgb(35, 35, 35);
}

.download-option > ul > li {
    margin-left: 16px;
    padding-bottom: 16px;
}

.download-option > ul > li > a {
    display: block;
    color: rgb(255, 127, 0);
    text-decoration: none;
    font-size: 50%;
}

.download-option > ul > li > a:link {
    color: rgb(255, 127, 0);
}

.download-option > ul > li > a:visited {
    color: rgb(255, 127, 0);
}

.download-option > ul > li > a:hover {
    color: rgb(255, 191, 63);
}

.download-option > ul > li > a:active {
    color: rgb(255, 191, 63);
}

#share-it {
    padding: 32px;
}

.share-title {
    font-size: 75%;
    font-weight: bold;
    padding-bottom: 16px;
}

.share-buttons {
    font-size: 0px;
    list-style-type: none;
    margin-left: 16px;
    padding: 0px;
}

.share-buttons > li {
    display: inline;
    padding-right: 8px;
}

.share-buttons > li > a {
    text-decoration: none;
}

.share-buttons > li > a > img {
    width: 48px;
}

.share-buttons > li > a > img:hover {
    -webkit-filter: brightness(150%);
    -moz-filter: brightness(150%);
    -o-filter: brightness(150%);
    -ms-filter: brightness(150%);
    filter: brightness(150%);
}
