@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local('Quicksand Light'), local('Quicksand-Light'), url('../data/fonts/Quicksand-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('../data/fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url('../data/fonts/Quicksand-Bold.ttf') format('truetype');
}

html {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
}

body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#description {
    position: relative;
    left: 275px;
}

#description > h1 {
    padding-top: 16px;
    font-weight: bold;
}

#description > h2 {
    position: relative;
    left: 128px;
    font-size: 45%;
    font-style: italic;
    padding-top: 4px;
}

#sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    background: rgb(31, 31, 31) url('../data/textures/dirty-old-black-shirt.png');
}

.contbutton {
    width: 100%;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
}

.button {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 28%;
}

.button:link {
    color: rgb(255, 255, 255);
}

.button:visited {
    color: rgb(255, 255, 255);
}

.button:hover {
    color: rgb(255, 255, 255);
}

.button:active {
    color: rgb(255, 255, 255);
}

.feature:hover {
    font-weight: bold;
    background: rgba(170, 127, 255, 127);
    background: -webkit-linear-gradient(rgba(170, 127, 255, 127), rgb(127, 63, 255));
    background: -o-linear-gradient(rgba(170, 127, 255, 127), rgb(127, 63, 255));
    background: -moz-linear-gradient(rgba(170, 127, 255, 127), rgb(127, 63, 255));
    background: linear-gradient(rgba(170, 127, 255, 127), rgb(127, 63, 255));
}

.feature-selected {
    background: rgb(255, 191, 63);
    background: -webkit-linear-gradient(rgb(255, 191, 63), rgb(255, 127, 0));
    background: -o-linear-gradient(rgb(255, 191, 63), rgb(255, 127, 0));
    background: -moz-linear-gradient(rgb(255, 191, 63), rgb(255, 127, 0));
    background: linear-gradient(rgb(255, 191, 63), rgb(255, 127, 0));
}

.feature-selected:hover {
    background: rgb(63, 191, 255);
    background: -webkit-linear-gradient(rgb(63, 191, 255), rgb(0, 127, 255));
    background: -o-linear-gradient(rgb(63, 191, 255), rgb(0, 127, 255));
    background: -moz-linear-gradient(rgb(63, 191, 255), rgb(0, 127, 255));
    background: linear-gradient(rgb(63, 191, 255), rgb(0, 127, 255));
}

.downloadbutton {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 40%;
    background: rgb(0, 127, 0);
    background: -webkit-linear-gradient(rgb(0, 127, 0), rgb(0, 255, 0));
    background: -o-linear-gradient(rgb(0, 127, 0), rgb(0, 255, 0));
    background: -moz-linear-gradient(rgb(0, 127, 0), rgb(0, 255, 0));
    background: linear-gradient(rgb(0, 127, 0), rgb(0, 255, 0));
}

.downloadbutton:hover {
    background: rgb(0, 191, 0);
    background: -webkit-linear-gradient(rgb(0, 191, 0), rgb(63, 255, 63));
    background: -o-linear-gradient(rgb(0, 191, 0), rgb(63, 255, 63));
    background: -moz-linear-gradient(rgb(0, 191, 0), rgb(63, 255, 63));
    background: linear-gradient(rgb(0, 191, 0), rgb(63, 255, 63));
}

.downloadbutton {
    font-weight: bold;
}

.page {
    width:100%;
    height:100%;
}

#presentation {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgb(63, 31, 127) url('../data/textures/handmade-paper.png');
    color: rgb(255, 255, 255);
}

#downloads {
    position: relative;
    background: rgb(31, 31, 31) url('../data/textures/dirty-old-black-shirt.png');
    color: rgb(255, 255, 255);
}

.downloads-container {
    position: absolute;
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
}

.downloads-title {
    font-size: 67%;
    font-weight: bold;
    padding-bottom: 16px;
}

nav > h2 {
    font-size: 45%;
    padding-bottom: 16px;
}

.download-option-container {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.download-option {
    display: table-cell;
    position: relative;
    height: 250px;
    border-left: 5px solid rgb(127, 63, 255);
    padding-left: 16px;
}

.download-option:hover {
    border-left: 5px solid rgb(170, 127,255);
}

.option-next {
    padding-right: 16px;
}

.download-option > ul > li {
    padding-bottom: 16px;
}

.download-option > ul > li > a {
    display: block;
    color: rgb(255, 127, 0);
    text-decoration: none;
    font-size: 35%;
}

.download-option > ul > li > a:link {
    color: rgb(255, 127, 0);
}

.download-option > ul > li > a:visited {
    color: rgb(255, 127, 0);
}

.download-option > ul > li > a:hover {
    color: rgb(255, 191, 63);
}

.download-option > ul > li > a:active {
    color: rgb(255, 191, 63);
}

.showcase {
    position: fixed;
    top: 100px;
    bottom: 25px;
    left: 275px;
    right: 25px;
}

.showcase-image {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
