html {
    height: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.page {
    width:100%;
    min-height:100%;
}

#presentation {
    position: fixed;
    top: 0px;
    width: 100%;
    min-height: 100%;
    background: rgb(63, 31, 127);
    color: rgb(255, 255, 255);
}

#downloads {
    position: relative;
    background: rgb(15, 15, 15);
    color: rgb(255, 255, 255);
}

.showcase {
    position: absolute;
    top: 10%;
    right: 32px;
    width: 640px;
    height: 80%;
/*    0.6*/
}

.showcase-image {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
